//-- Include for Open Graph tags (link previews in social media)

<title>Studio84</title>
<meta name="description" content="Search & browse the Studio84 music collection">

if track
    <meta property="og:title" content="#{item.artists[0].name} - #{track.title}" />
    <meta property="og:description" content="Studio84" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=#{fullUrl} />
    <meta property="og:image" content="#{item['images'][0]['resource_url']}" />

else if (item && !track)
    <meta property="og:title" content="#{item.artists[0].name} - #{item.title}" />
    <meta property="og:description" content="Studio84" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=#{fullUrl} />
    <meta property="og:image" content="#{item['images'][0]['resource_url']}" />

else if (items && !item && !track)
    <meta property="og:title" content="Studio84" />
    <meta property="og:description" content="#{search_target} search: '#{search_str}'" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=#{fullUrl} />
    <meta property="og:image" content="#{logoUrl}" />

else if wants
    <meta property="og:title" content="Studio84 Want List" />
    <meta property="og:description" content="Looking for this and others..." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#{fullUrl}" />
    <meta property="og:image" content="#{random.value.cover_image}" />

else
    <meta property="og:title" content="Studio84" />
    <meta property="og:description" content="Search & browse the Studio84 music collection" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#{fullUrl}" />
    <meta property="og:image" content=#{logoUrl} />