.tracklist
  table.pure-table(style="width: 100%;")
    thead
      tr
        th &nbsp;
        th track
        th dur
    tbody
      each track in item['tracklist']
        tr(valign="top")
          td #{track['position']}
          td
            if track['lyrics']
              div(style="font-weight: bold")
                a.lyrics(href='#' data-position=track['position']) #{track['title']}
            else
              div(style="font-weight: bold") #{track['title']}
            if track['artists']
              div(style="font-size: 0.8em") #{track['artists'].map((a) => { return a['name'] }).join(', ')}

            include track.pug

          td #{track['duration']}

  script(src="/javascripts/tracklist.js")
