extends layout

block content

  h1= title
  p Welcome to #{title}

  h3 Search
  form.pure-form(action='/releases', method='GET')
    input(name='search_str', value='', placeholder="search..." type='text')
    label.pure-radio(for='artist') artist
      input(id='artist' name='search_target', value='artist', type='radio' checked)
    label.pure-radio(for='title') title
      input(id='title' name='search_target', value='title', type='radio')
    div
      input.pure-button.pure-button-primary#search(value='search', type='submit')

  div
    h3 Folders
    each folder in folders
      .pure-g
        .pure-u-2-3
          a(href="/releases?search_str=" + folder["encoded_name"] + "&search_target=folder") #{folder['name']}
        .pure-u-1-3 #{folder['count']}

  pre #{JSON.stringify(folders, null, 2)}
  script(src="/javascripts/folders.js")
