extends layout

block content

  h1= title
  p Welcome to #{title}

  each folder in folders
    .pure-g
      .pure-u-2-3
        a(href=folder.resource_url) #{folder.name}
      .pure-u-1-3 #{folder.count}

  script(src="/javascripts/folders.js")
