extends layout

block content

  .search-target #{search_target} search
  .search-str #{search_str}
  div #{count} items

  each item in items
    .pure-g.item_row(href="item/" + item.id)
      .pure-u-1-1
        hr
      .pure-u-1-1.pure-u-sm-1-5
        img.pure-img.thumb(src=item['thumb'] width="150px" height="150px")
      .pure-u-1-1.pure-u-sm-2-5(style="padding-top: 10px;")
        .item-artist #{item['artists_sort']}
        .item-title
          a(href="/item/" + item['id']) #{item['title']}
        div location: crate #{item['folder']['crate']}, section "#{item['folder']['section']}"

  script(src="/javascripts/items.js")
