extends layout

block content
  h1 #{folder['name']}
  p #{JSON.stringify(pagination)}

  each release in releases
    .pure-g
      .pure-u-1-3
        img(src=release['basic_information']['thumb'])
      .pure-u-1-3
        div #{release['basic_information']['artists'][0]['name']}
        a(href="/release/" + release['id']) #{release['basic_information']['title']}
        each note in release['notes']
          div #{note['field_id']} #{note['value']}
      .pure-u-1-3
        pre #{JSON.stringify(release, null, 2)}
