extends layout

block content

  .pure-g.track(id=track['position'])
    #content-container

      .pure-u-2-5.pure-u-sm-1-5
        a(href=parentURL)
          img.pure-img.thumb(src=item['thumb'])

      .pure-u-3-5.pure-u-sm-2-5
        div(style="padding-left: 1em;")
          div(style='font-style: italic;') #{item['artists'][0]['name']}
          a(href=parentURL) #{item['title']}

      .pure-u-1.pure-u-sm-2-5(style="margin-top: 1em;")
        h2(style='margin-top: 0.4em;margin-bottom: 3px;') #{track['title']}
        div(style="font-size: 0.8em;color: #777;") Track #{track['position']}

        div &nbsp;
        .wrap #{track['lyrics']}

        div &nbsp;
        a.pure-button.lyrics(href=parentURL) Close